<div class="post">
	<% if(!post.author.avatar.exists?) %>
		<%= image_tag 'missing.png', :width => 50, :height => 50, :class => 'pull-left' %>
	<% else %>
		<%= image_tag post.author.avatar.url(:thumb), :width => 50, :height => 50, :class => 'pull-left' %>
	<% end %>
	<div class="body">
		<h3><%= link_to post.author.name, post.author %></h3>
		<h4>Posted <%= time_ago_in_words(post.created_at) %> ago</h4>
		<p><%= post.body %></p>
	</div>
</div>