<h1>Forgot your password?</h1>

<p class="lead">Don't remember your password? Fill the field above and be happy :-)</p>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
		<%= f.label :email, :class => 'control-label' %>
  	<div class="controls">
  		<%= f.email_field :email, :class => 'span5' %>
  	</div>
	</div>

  <div class="form-actions">
		<%= f.submit "Send instructions", :class => 'btn btn-primary' %>
	</div>
<% end %>

<p class="lead">Do you already have an account? <%= link_to "Login", new_session_path(resource_name) %> or <%= link_to "Register", new_registration_path(resource_name) %>.</p>